.landing-page {
    .appbar {
        background-color: #242435;
        .title {
            font-weight: 900;
            font-size: 20px;
            background: linear-gradient(
                100.08deg,
                #18f5f5 4.04%,
                #f5b7d2 23.51%,
                #e744f6 44.63%,
                #862dfb 60.37%,
                #00dbf9 83.57%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }
    .intro-section {
        margin-top: 150px;
        min-height: 70vh;
        position: relative;
        .intro-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 30px;
            .intro-heading-1 {
                font-size: 56px;
                color: white;
                font-weight: 900;
            }
            .intro-heading-2 {
                font-size: 96px;
                font-weight: 900;
                line-height: 100px;
                background: linear-gradient(
                        100.21deg,
                        #18f5f5 1.63%,
                        #f5b7d2 25.71%,
                        #e744f6 51.84%,
                        #862dfb 71.31%,
                        #00dbf9 100%
                    ),
                    #ffffff;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
            .intro-heading-3 {
                font-size: 56px;
                font-weight: 900;
                background: linear-gradient(
                        100.21deg,
                        #18f5f5 1.63%,
                        #f5b7d2 25.71%,
                        #e744f6 51.84%,
                        #862dfb 71.31%,
                        #00dbf9 100%
                    ),
                    #ffffff;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
            .intro-heading-4 {
                font-weight: 500;
                font-size: 18px;
                color: white;
                margin-top: 20px;
                .you {
                    color: #e744f6;
                }
            }
            .form-container {
                display: flex;
                flex-direction: row;
                gap: 10px;
                margin-top: 40px;
                margin-bottom: 5px;
                .validation-container {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
                .email {
                    padding-left: 20px;
                    padding-right: 20px;
                    font-size: 15px;
                    color: white;
                    width: 350px;
                    height: 55px;
                    border-radius: 50px;
                    background-color: #242435;
                    border: 3px solid #3f3f55;
                    &::-webkit-input-placeholder {
                        font-weight: bolder;
                    }
                }
                .subscribe-button-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid transparent;
                    text-align: center;
                    border-radius: 50px;
                    background-image: linear-gradient(#242435, #242435),
                        linear-gradient(
                            to right,
                            #18f5f5 1.63%,
                            #f5b7d2 25.71%,
                            #e744f6 51.84%,
                            #862dfb 71.31%,
                            #00dbf9 100%
                        );
                    background-origin: border-box;
                    background-clip: content-box, border-box;
                    width: 160px;
                    height: 55px;
                    .subscribe-button {
                        font-size: 16px;
                        color: #fcfcfc;
                        text-transform: none;
                        font-weight: 700;
                        padding: 15px;
                        width: 100%;
                        border-radius: 25px;
                        height: 50px;
                    }
                }
            }
        }
        .first-ellipse {
            position: absolute;
            right: 35%;
            bottom: 99%;
        }
        .second-ellipse {
            position: absolute;
            left: 100%;
            top: -95px;
            width: 50px;
        }
        .third-ellipse {
            position: absolute;
            left: 85%;
            top: 270px;
            width: 250px;
        }
        .crypto-image-container {
            position: relative;
            width: 386.31px;
            height: 410.32px;
            border-width: 4px;
            border-style: solid;
            border-radius: 40px;
            border-top-color: rgba(231, 68, 246, 0.3);
            border-right-color: rgba(24, 245, 245, 0.3);
            border-bottom-color: rgba(231, 68, 246, 0.3);
            border-left-color: rgba(24, 245, 245, 0.3);
            backdrop-filter: blur(40px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            .value {
                font-weight: 700;
                font-size: 64px;
                color: #e744f6;
            }
            .pay {
                font-weight: 500;
                font-size: 20px;
                color: #fcfcfc;
            }
        }
    }
}

@media only screen and (max-width: 980px) {
    .landing-page {
        overflow: hidden;
        .intro-section {
            .intro-container {
                .intro-heading-1 {
                    font-size: 30px;
                }
                .intro-heading-2 {
                    font-size: 60px;
                }
                .intro-heading-3 {
                    font-size: 40px;
                }
                .intro-heading-4 {
                    font-size: 15px;
                }
                .form-container {
                    .email {
                        height: 40px;
                        width: 250px;
                    }
                    .subscribe-button-container {
                        display: flex;
                        width: 110px;
                        height: 45px;
                        .subscribe-button {
                            font-size: 14px;
                        }
                    }
                }
            }
            .first-ellipse {
                bottom: 102%;
                right: 250px;
                width: 90px;
            }
            .second-ellipse {
                left: 93%;
                bottom: 107%;
                width: 40px;
            }
            .third-ellipse {
                width: 140px;
                left: 83%;
                top: 190px;
            }
            .crypto-image-container {
                width: 260px;
                height: 260px;

                .crypto-image-desktop {
                    width: 200px;
                }
                .value {
                    font-size: 40px;
                }
            }
        }
    }
}

@media only screen and (max-width: 760px) {
    .landing-page {
        .intro-section {
            margin-top: 60px;
            .intro-container {
                flex-direction: column-reverse;
                .intro-heading-1 {
                    font-size: 35px;
                }
                .intro-heading-2 {
                    font-size: 60px;

                    line-height: 90px;
                }
                .intro-heading-3 {
                    font-size: 40px;
                }
                .intro-heading-4 {
                    font-size: 20px;
                }
                .form-container {
                    flex-direction: column;
                    gap: 20px;

                    .email {
                        margin-top: -20px;
                        width: 90%;
                    }
                    .subscribe-button-container {
                        display: flex;
                        justify-content: center;
                        width: 100%;

                        .subscribe-button {
                            font-size: 18px;
                        }
                    }
                }
            }
            .first-ellipse {
                bottom: 97%;
                right: 85%;
                position: absolute;
                z-index: -1;
            }
            .second-ellipse {
                width: 10px;
            }
            .third-ellipse {
                left: 60%;
                top: 80%;
                width: 50%;
                position: absolute;
                z-index: -1;
            }
            .crypto-image-container {
                flex-direction: row;
                justify-content: space-evenly;
                width: 100%;
                height: 155px;

                .mobile-view-content {
                    .value {
                        color: white;
                        font-size: 50px;
                    }
                }
                .crypto-image-mobile {
                    width: 135px;
                }
            }
        }
    }
}

@media only screen and (max-width: 340px) {
    .landing-page {
        .intro-section {
            .crypto-image-container {
                flex-direction: column;
                height: 220px;
                text-align: center;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
