name: GitHub Pages

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    env:
      DISABLE_ESLINT_PLUGIN: true
      NODE_ENV: "development"
      REACT_APP_ENV: "development"
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'


      - run: npm ci
      - run: npm run build
      - run: npm run deploy
